ai.agent_json1
{
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [400, 250]
    },
    {
      "parameters": {
        "values": {
          "text": "Hello n8n, this is a test string for manipulation!"
        }
      },
      "name": "Set Input Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [620, 250]
    },
    {
      "parameters": {
        "functionCode": "const inputText = $input.json.text;\nconst upperCaseText = inputText.toUpperCase();\n\nreturn [{\n  json: {\n    upperCase: upperCaseText,\n    originalText: inputText\n  }\n}];"
      },
      "name": "Convert to Uppercase",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [840, 250]
    },
    {
      "parameters": {
        "functionCode": "const upperCaseText = $input.json.upperCase;\nconst wordCount = upperCaseText.split(/\\s+/).filter(word => word.length > 0).length;\n\nreturn [{\n  json: {\n    upperCase: upperCaseText,\n    wordCount: wordCount,\n    originalText: $input.json.originalText\n  }\n}];"
      },
      "name": "Count Words",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1060, 250]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Input Text",
            "hop": "main"
          }
        ]
      ]
    },
    "Set Input Text": {
      "main": [
        [
          {
            "node": "Convert to Uppercase",
            "hop": "main"
          }
        ]
      ]
    },
    "Convert to Uppercase": {
      "main": [
        [
          {
            "node": "Count Words",
            "hop": "main"
          }
        ]
      ]
    }
  },
  "id": "simple-text-manipulation",
  "name": "Text Manipulation (No Credentials)",
  "active": false,
  "nodesPositions": {
    "400-250": { "x": 400, "y": 250 },
    "620-250": { "x": 620, "y": 250 },
    "840-250": { "x": 840, "y": 250 },
    "1060-250": { "x": 1060, "y": 250 }
  }
}
